<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Vinh education</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img  src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-1/c0.80.320.320a/p320x320/73524484_544406526318301_5520842256103243776_o.jpg?_nc_cat=102&ccb=2&_nc_sid=7206a8&_nc_ohc=WobzGHDujqoAX-t6nVo&_nc_ht=scontent.fsgn5-4.fna&tp=27&oh=4b48757351ccb6ece39b3f8bc5e6a8ff&oe=602D33A7" alt="" class="user-avatar">
              Vinh nguyen
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Post courses</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">My courses</a>
              <a class="dropdown-item" href="/me/stored/news">My article</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Update courses</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">log out</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>