<form method="POST" action="">
  <div class="form-group mt-4">
    <label for="search-input">Key word</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập từ khóa">
    <input type="text" name="full_name">
  </div>
  <div class="form-group">
    <label for="gender-input">Gender</label>
    <select name="gender" class="form-control" id="gender-input">
        <option value="">--chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>